*, *::after, *::before {
    box-sizing: border-box;
}

html, body {
    font-size: 62.5%;
    font-weight: normal;
    color: white;
    background-image: linear-gradient(to right top, #060606, #050504, #030303, #020201, #000000);
}

img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    flex-shrink: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
}

button, input {
    outline: none;
    border: none;
    cursor: pointer;
}

.container {
    width: 130rem;
    margin: 0 auto;
}

.button {
    border-radius: 5rem;
    padding: 1rem 3rem;
    color: white;
}

.header {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50% 0);
    width: 100%;
    z-index: 10;
    padding: 4rem 11rem 3rem 8rem;
}

.header__logo {
    display: block;
    width: 4rem;
    height: 4rem;
}

.header__nav a:not(:last-child) {
    margin-right: 7.1rem;
}

.header__nav a {
    font-size: 1.6rem;
}

.header__wrap{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__menu {
    display: flex;
    align-items: center;
}

.header__button {
    margin-left: 55.3rem;
    background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
    font-size: 1.6rem;
}

.main-display__header {
    font-weight: 700;
    font-size: 6.4rem;
    line-height: 140%;
    max-width: 76rem;
    margin-bottom: 5rem;
}

.timer__item {
    width: 10.2rem;
    height: 11.2rem;
    background-color: #121212;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.timer__count {
    font-weight: 700;
    font-size: 3.6rem;
    line-height: 140%;
}

.timer__text {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 140%;
    opacity: 0.4;
}

.timer__item:not(:last-child) {
    margin-right: 3rem;
}

.main-display__timer {
    display: flex;
}

.main-display__button {
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 150%;
    margin-top: 7.6rem;
    background: linear-gradient(94.78deg, #DF5950 11.19%, #451046 93.72%);
}

.main-display {
    padding-top: 27rem;
}

.main-display__bg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.main-display .container {
    position: relative;
    z-index: 10;
}
